<p>
  Please verify your email address by clicking the link below:
</p>

<p>
  <a href="<%= email_address_verification_url(@user.email_address_verification_token) %>" target="_blank" style="display: inline-block; background-color: #76e9bf; color: #000000; padding: 12px 30px; margin-top: 10px; margin-bottom: 10px; border-radius: 8px; text-decoration: none; font-weight: 500;">
    Verify your email address
  </a>
</p>

<p>
  If you did not request this verification, please ignore this email.
</p>

<p>
  The Afida Team
</p>