<p>
  Welcome to Afida!
</p>

<p>
  Your email address has been verified successfully.
</p>

<p>
  <a href="<%= shop_url %>" target="_blank" style="display: inline-block; background-color: #76e9bf; color: #000000; padding: 12px 30px; margin-top: 10px; margin-bottom: 10px; border-radius: 8px; text-decoration: none; font-weight: 500;">
    Start shopping
  </a>
</p>