<section class="py-12 bg-white overflow-hidden">
  <div class="relative">
    <!-- Scrolling container -->
    <div class="logo-conveyor">
      <!-- First set of logos -->
      <div class="flex items-center space-x-16 min-w-max">
        <% 12.times do %>
          <div class="w-32">
            <%= render "shared/logo" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
