<% content_for :title, "Cookie Policy | Afida" %>

<% content_for :meta_description, "Learn about how Afida uses cookies on our website. Our cookie policy explains what cookies we use and how they help improve your experience." %>

<div class="container mx-auto py-8 min-h-screen">
  <h1 class="text-4xl font-bold">Cookie Policy</h1>
</div>
