<div class="container mx-auto py-8 py-16 min-h-screen">
  <h1 class="text-4xl font-bold mb-8">Samples</h1>

  <p class="text-lg mb-8">
    Try before you buy!
  </p>

  <p class="text-lg mb-8">
    We offer free samples of our eco-friendly packaging — from straws and napkins to takeaway boxes, cups, and more. Simply choose the products you'd like to test, and we'll send them your way!
  </p>
</div>