<% content_for :title, "Terms of Service" %>

<% content_for :meta_description, "Read our terms of service for ordering eco-friendly catering supplies from Afida. Terms and conditions for product purchases and services." %>

<div class="container mx-auto py-8 min-h-screen">
  <h1 class="text-4xl font-bold">Terms of Service</h1>
</div>