<div class="navbar bg-red-400 shadow-sm">
  <div class="flex-1 text-center">
    <a class="btn btn-ghost">
      <%= render "shared/logo" %>
      <span class="text-white">admin</span>
    </a>
  </div>
  <div class="flex-none">
  </div>
</div>